<p id="notice"> <%= notice %></p>
<p> 
    <strong>
        <h2><%= t(".student_info") %></h2>
    </strong> 
</p>
<table class="table table-bordered table-striped tb1">
    <tr>
        <th class="text-center"><%= t(".full_name") %></th>
        <th class="text-center"><%= @user.full_name %></th>
    </tr>
    <tr>
        <th class="text-center">
            <strong><%= t(".gender") %></strong>
        </th>
        <th class="text-center">
            <%= @user.gender %>
        </th>
    </tr>
    <tr>
        <th class="text-center">
            <strong><%= t(".dob") %></strong>
        </th>
        <th class="text-center">
            <%= @user.dob %>
        </th>
    </tr>
    <tr>
        <th class="text-center">
            <strong><%= t(".email") %></strong>
        </th>
        <th class="text-center">
            <%= @user.email %>
        </th>
    </tr>
    <tr>
        <th class="text-center">
            <strong><%= t(".phone") %></strong>
        </th>
        <th class="text-center">
            <%= @user.phone %>
        </th>
    </tr>
    <tr>
        <th class="text-center">
            <strong><%= t(".address") %></strong>
        </th>
        <th class="text-center">
            <%= @user.address %>
        </th>
    </tr>
</table>

<p>
    <strong>
      <h4> Lịch sử trắc nghiệm </h4>
    </strong>
  </p>

<% @results.each do |result| %>
  <div>
    Lượt: 
    <%= result.luot %>
    <%= result.character.name %>
    <%= result.sum_score %>
  </div>
  <hr>
<% end %>
  
    <div><%= t".advisory" %>
      <%= @maxs.character.name %>
      <%= @maxs.sum_score %><%= t".score" %></div>
    <%= @maxs.character.description %>
    <hr>
    <div><%= t".list_major" %></div>
    <%= render partial: "major", collection: @maxs.character.majors %>
  

      
      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
          <%= link_to t(".information"), current_user, class: "btn btn-danger btn-xs pull-right" %>
          <%= link_to t(".again"), homes_path, class: "btn btn-danger btn-xs pull-right" %>
        </div>
      </div>
