<p id="notice"><%= notice %></p>
  <p>
    <strong> <%= t".character" %> </strong>
    <%= @character.name %>
  </p>
  <p>
    <strong> <%= t".desc_character" %> </strong>
    <%= @character.description %>
  </p>
<%= link_to t(".edit"), edit_character_path(@character) %> |
<%= link_to t(".back"), characters_path %>
