<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= form_with(url: homes_path, method: "post") do %>
        <%= render partial: "character", collection: @characters %>
        <%= will_paginate @characters %>
        <hr>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            <%= submit_tag t(".get_results") %>
            <%= link_to t(".again"), homes_path, class: "btn btn-danger btn-xs pull-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
